/* Box sizing */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

/* Basic text settings: */
body {
  line-height: 150%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Contain floats: nicolasgallagher.com/micro-clearfix-hack/
 */
.clearfix, .cf {
  zoom: 1;
    &:before, &:after { content: ""; display: table; }
    &:after { clear: both; }
}

/* Resets for removing margin top on various elements */
h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul {
  margin-top: 0;
  line-height: 120%;
}

/* If you want to change the text size you should do it in _variables.scss */
p, .article-time, li, td, address {
  font-size: 1rem;
}

/* Image tags */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* Links (google style)
 * If you want to change the link-color you should do it in _variables.scss
 */
a {
  text-decoration: none;
  color: $link-color;
  &:hover, &:focus {
    text-decoration: underline;
    color: $link-hover;
  }
}

/* Blockquotes */
blockquote {
  @extend .cf;
  margin-left: 0;
  padding: 1em 1em 0em 1.5em;
  border-left: 3px solid fade_out(black, 0.75);
}

/* Navigation menus */
.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Sub menus */
.sub-menu {
  padding: 0;
}

/* searchform in mobile and tablet menu */
.searchform-header {
  padding: 0.5em 0.25em;
}

/* Lists */
ul {
  padding-left: 1em;
}
ol {
  padding-left: 1.5em;
}

/* Figures */
figure { margin: 0; }

/* Tables */
table {
  margin-bottom: 1em;
}
th {
  text-align: left;
}
th, td {
  padding: (8/16)+em (10/16)+em (6/16)+em;
}
td {
  border: 1px solid $grey-dark;
}

/* Definition lists */
dl {
  margin-top: 0.5em;
}
dt {
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: (4/16)+em;

  border-top: 1px solid $grey-dark;
  padding-top: 1em;
  &:first-of-type {
    border-top: 0;
    padding-top: 0;
  }
}
dd {
  color: #666;
  margin-left: 1.5em;
}

/* Pre */
pre {
  font-size: (12/16)+em;
  word-wrap: normal;
  &.hljs, & {
    padding: 5px 10px 6px 10px;
    padding: (5/16)+rem (10/16)+rem (6/16)+rem (10/16)+rem;
  }
  code {
    overflow: auto;
    display: block;
  }
}

/* Tables */
tr {
  &.odd {}
  &.even {
    background-color: $grey;
  }
}

/* Featured images */
.wp-post-image {
  margin: 0 auto;
}

/* Screen reader only text */
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/*
 * http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
 */
.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/**
 * Page elements
 */

/* Site header
 * If you want to change the bg-color you should do so in _variables.scss
 */
.header {
  padding-bottom: 0.75em;
  position: relative;
  p { margin: 0; }
}

.header--inner {
  padding: 1em 0;
}

.site-title {
  a {
    display: block;
    color: $text;
    text-decoration: none;
  }
}

/* Adding padding to hentry after having removed it from posts (mobile-only stylesheet) */
/* @TODO: Check if there are more pages than blog and archive that needs to be targeted */
.blog,
.archive {
  .hentry {
    padding: 0 0.75em;
  }
}


/*
 * Articles / Items
 */

.article {
  border-bottom: 1px solid $grey-dark;
  &:nth-of-type(2n) {
    background-color: $grey;
  }
}

/**
 * Unloading the document
 */
@-webkit-keyframes unload-clicked {
  0% {right: 100%;}
  100% {right: 0%;}
}
@keyframes unload-clicked {
  0% {right: 100%;}
  100% {right: 0%;}
}
.unloading {
  cursor: wait !important;
  a {
    cursor: wait !important;
  }

  .clicked {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: fade-out(white, 0.5);
      animation-name: 0.2s unload-clicked;
    }
  }
}

/* Give images a bit of a margin */
.article--content {
  /**
   * Only direct ascendandts..
   * Giving all images margin causes problems for pages using grid where
   * the images should fill the column. @See issue #11 for examples of markup.
   */
  > img { margin: 0.5em; }
  margin-bottom: 1em;
}
.wp-caption--inner,
.article--content {
  > img { margin: 0.5em 0; }
}