/******************************************************************
Pneumatic theme  woocommerce styles
******************************************************************/
// Various variables used across stylesheets
@import "variables";

/* mobile only styles only */
@media screen and (max-width: 767px) {
  /**
   * Products
   * [woocommerce]
   */
  .product {
    // Image thumbnails:
    .thumbnails {
      padding-left: 1em;
      padding-right: 1em;
    }

  }
  // Tabs
  .woocommerce-tabs .panel,
  // List of products ( related / upsells)
  .upsells.products, .related.products,
  // Breadcrumbs
  .woocommerce-breadcrumb,
  // Product summary
  .product .summary {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
}


/* Searchform */
.widget .woocommerce-product-search .search-field,
#s {
  width: 100%;
  width: calc( 100% - 4.25em );
  float: left;
  border: 0;
  padding: 0.5em 0.5em 0.45em;
  outline: none;
}
.widget .woocommerce-product-search input[type="submit"],
#searchsubmit {
  position: absolute;
  top: 0; right: 0;
  border-radius: 0;
  border: 1px solid #000;
  margin: -1px;
}
.widget .woocommerce-product-search,
.searchform--inner {
  position: relative;
  border: 1px solid #ccc;
}
// Clearfix the woocommerce search form
.woocommerce-product-search {
  @extend .cf;
}
