/******************************************************************
Pneumatic theme  woocommerce styles
******************************************************************/
// Various variables used across stylesheets
@import "variables";

/* mobile only styles only in this media query */
@media screen and (max-width: 767px) {
  /**
   * Products
   * [woocommerce]
   */
  .product {
    // Image thumbnails:
    .thumbnails {
      padding-left: 1em;
      padding-right: 1em;
    }

  }
  // Tabs
  .woocommerce-tabs .panel,
  // List of products ( related / upsells)
  .upsells.products, .related.products,
  // Breadcrumbs
  .woocommerce-breadcrumb,
  // Product summary
  .product .summary {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }

  .edit {
    padding: 0 1em;
    font-size: $paragraph-size;
  }

  /* address on My account page */
  .address {
    padding: 1em 0;
  }
}


/* Searchform */
.widget .woocommerce-product-search .search-field,
#s {
  width: 100%;
  width: calc( 100% - 4.25em );
  float: left;
  border: 0;
  padding: 0.5em 0.5em 0.45em;
  outline: none;
}
.widget .woocommerce-product-search input[type="submit"],
#searchsubmit {
  position: absolute;
  top: 0; right: 0;
  border-radius: 0;
  border: 1px solid #000;
  margin: -1px;
}
.widget .woocommerce-product-search,
.searchform--inner {
  position: relative;
  border: 1px solid #ccc;
}
// Clearfix the woocommerce search form
.woocommerce-product-search {
  @extend .cf;
}

/* Overriding the WooCommerse's default button colors with Pneumatic color variables,
 * if you want to change the button colors you should do it in _variable.scss
 */
.woocommerce a.button,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: $button-color;
  color: $button-text;
  &:hover {
    background: $button-hover;
    color: $button-text;
  }
}

/* If you want to change the price-color you should do it in _variable.scss */
.woocommerce ul.products li.product .price,
.amount {
  color: $price-color;
}

.woocommerce table.shop_table td {
  border-right: 1px solid rgba(0,0,0,.1);
  border-left: 0;
}
