/********************************************
			   A N I M A T I C S

	This is where all those lovely things
	bourbon does can be kept, a place where
	mixins and animation styles can be defined,
	without including a whole library.

********************************************/

$ease-in-out-quart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$ease-in-out-quint: cubic-bezier(0.860, 0.000, 0.070, 1.000);

// We can change how the whole navigation animates here
$easing:	$ease-in-out-quint;
$timing:	0.65s;

/* 
	Animated Menu Icon. 
	-------------------
	It's not a burger, it's a smaller 
	representation of the way menus 
	look on a mobile environment 
	
	You can turn this off in the meat.js file
*/

.animated.clickable {
	.menu-icon {
		margin-top: 0px;
		padding: 0;
		@include transition($timing all $easing);
		@include transform(rotate(0deg));
		
		> div {
			margin-top: 0px;
			margin-bottom: 5px;
			border-radius: 5px;
			background: black;
			@include transition($timing all $easing);
		    @include transform(rotate(0deg));
	
			& + div {
			    opacity: 1;
			    @include transition($timing all $easing);
			    @include transform(rotate(0deg));
		
				& + div {
					@include transition($timing all $easing);
				    opacity: 1;
				    position: relative;
			    }
		    }
		}	
	}

	&.close{
		position: fixed;
		z-index: 150;
		
		// Fuck it, Add an animated icon for when we open the menu
		.menu-icon{
			@include transition($timing all $easing);
			@include transform(rotate(90deg));
			position: relative;
			z-index: 150;

			> div {
				@include transition($timing all $easing);
			    @include transform(rotate(45deg));
			    margin: -4px 11px;
		
				& + div {
				    opacity: 0;
				    @include transition($timing all $easing);
				    @include transform(rotate(-225deg));
			
					& + div {
						@include transition($timing all $easing);
					    opacity: 1;
					    position: relative;
				    }
			    }
			}
		}
	}
}