/* 
	Experimental feature
	--------------------
	
	Simple Columns. Sassy, sassy resonsive columns.
	
*/

// Put this class on the parent of the columns

.columns{ 
	// This solves some nice inline-block issues
	@include ib;

	[class^="column-"]{
		padding: u(1rem);
	} 

	.column-3 {
		width: 100%;
		@media( min-width: $phablet) { width: 50%; }
		@media( min-width: $desktop) { width: 33.3% }			
	}
	
	.column-4 {
		width: 100%;
		@media( min-width: $phablet) { width: 50%; }
		@media( min-width: $desktop) { width: 25% }			
	}
}