/*
    Freight Display Pro
*/

@font-face {
  font-family: freight;
  src:  url('../fonts/freight-display-bold.woff2'), // Google new format
        url('../fonts/freight-display-bold.woff'), // Most supported format
        url('../fonts/freight-display-bold.eot'); // Internet explorer
  font-weight: bold;
}

$font: 'freight', serif;