* { box-sizing: border-box; }

// Wrappers

.sw {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include wider-than( tablet ) {
    max-width: 92%;
  }

  @include wider-than( laptop ) {
    max-width: 72rem;
  }
}

.w {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include wider-than( desktop ) {
    max-width: 92rem;
  }
}


/*
  Spacing between elements

  This needs to be uniform throughout the
  whole site. So what I've done here is
  create two variables that handle everything.

  From a design side of things, you should be
  able to get the vertical rhythm on the site
  sorted by changing these four values.

*/

// Tablet+ gutters
$large_gutter:  4rem;
$small_gutter:  3.5rem;

@mixin small_gutter( $element ){
  #{$element}: $small_gutter / 1.5;
  @include wider-than( tablet ) {
    #{$element}: $small_gutter;
  }
}
@mixin large_gutter( $element ){
  #{$element}: $large_gutter / 1.5;
  @include wider-than( tablet ) {
    #{$element}: $large_gutter;
  }
}



/**
 * Grid.
 * @param  int      $i          Amount of columns needed
 * @param  int      $max:       12            Total amount of columns in grid
 * @param  gutter   $guttering: 1.875rem      Space between columns with rem value
 * @param  boolean  $last:      false         Determines final gutter
 * @return width
 *
 * @usage  @include span(6, 12);              Width with gutter
 * @usage  @include span(4, 12, 1rem);        Width with custom gutter
 * @usage  @include span(6, 12, $last:true);  Last element
 */
@mixin span( $i, $max: 12, $guttering: 1.875rem, $last: null){
  // Width without REM support
  $percentage: $i * 100% / $max;
  width: $percentage - 2%;
  // Width for modern browsers
  $percentage: $percentage - 0.01111%;
  $num: $max / $i - 1;
  $margin-right: ($num * $guttering / ($num +1));
  width: calc(#{$percentage} - #{$margin-right});
  // Grid is based on floats
  float: left;
  // If last item
  @if $last == null {
    // Gutter widthout REM support
    margin-right: 2%;
    // Gutter for modern browsers
    margin-right: calc(#{$guttering});
  }
}