/*
  Fonts are pulled in from a separate stylesheet to allow for page loading
*/

//@import 'font-face';

// Fallback for when the fonts don't load.
$fallback: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font: 'GT-Walsheim-Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  // Sorting out fonts loading
  font-family: $font;

  // Reverse font loading. If it's loading,
  // we load the fallback. Otherwise, JS might
  // be disabled and fonts wouldn't load.
  .wf-loading & {
    font-family: $fallback;
  }
}


h1{
  color: $text;
  font-weight: 700;

  // Phone - 28px / 32px
  font-size: 1.75rem;
  line-height: 2rem;

  // Tablet - 40px / 48px
  @media #{$tablet} {
    font-size: 2.625rem;
    line-height: 3.125rem;
  }

  // laptop - 42px / 50px
  @media #{$laptop} {
    font-size: 2.625rem;
    line-height: 3.125rem;
  }
}

h2{
  color: $text;
  font-weight: 700;

  // Phone - 20px / 28px
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.75rem;

  // Tablet - 26px / 34px
  @media #{$tablet} {
    font-size: 1.625rem;
    line-height: 2.125rem;
    margin-bottom: 1rem;
  }

  // laptop - 28px / 36px
  @media #{$laptop} {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

h3{

  color: $text;
  font-weight: 400;

  // Phone - 18px / 26px
  font-size: 1.125rem;
  line-height: 1.625rem;

  // laptop - 24px / 32px
  @media #{$laptop} {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h4{
  color: $text-light;
  font-weight: 600;

  // Phone - 18px / 23px
  font-size: 1.125rem;
  line-height: 1.4375rem;

  // laptop - 20px / 25px
  @media #{$laptop} {
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

h5{
  color: $text-overprint;
  font-weight: 400;
  text-transform: uppercase;

  // Phone - 14px / 18px
  font: 0.875rem;
  line-height: 1.125rem;

  // laptop - 20px / 25px
  @media #{$laptop} {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

h6{
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 1.5rem;
}

p, .p{
  //
  font-weight: 200;
  font-size: 1.125rem;
  line-height: 1.75;

 -ms-word-break: none;
     word-break: none;

     // Non standard for webkit
     word-break: none;

-webkit-hyphens: none;
   -moz-hyphens: none;
        hyphens: aunoneto;
}



/* Placeholders. Theeeyyyyyyyyy'rrreeee great! */

%h1{
  color: $text;
  font-weight: 700;

  // Phone - 28px / 32px
  font-size: 1.75rem;
  line-height: 2rem;

  // Tablet - 40px / 48px
  @media #{$tablet} {
    font-size: 2.625rem;
    line-height: 3.125rem;
  }

  // laptop - 42px / 50px
  @media #{$laptop} {
    font-size: 2.625rem;
    line-height: 3.125rem;
  }
}

%h2{
  color: $text;
  font-weight: 700;

  // Phone - 20px / 28px
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.75rem;

  // Tablet - 26px / 34px
  @media #{$tablet} {
    font-size: 1.625rem;
    line-height: 2.125rem;
    margin-bottom: 1rem;
  }

  // laptop - 28px / 36px
  @media #{$laptop} {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

%h3{

  color: $text;
  font-weight: 400;

  // Phone - 18px / 26px
  font-size: 1.125rem;
  line-height: 1.625rem;

  // laptop - 24px / 32px
  @media #{$laptop} {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

%h4{
  color: $text-light;
  font-weight: 600;

  // Phone - 18px / 23px
  font-size: 1.125rem;
  line-height: 1.4375rem;

  // laptop - 20px / 25px
  @media #{$laptop} {
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

%h5{
  color: $text-overprint;
  font-weight: 400;
  text-transform: uppercase;

  // Phone - 14px / 18px
  font: 0.875rem;
  line-height: 1.125rem;

  // laptop - 20px / 25px
  @media #{$laptop} {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

%h6{
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 1.5rem;
}

%p{
  //
  font-weight: 200;
  font-size: 1.125rem;
  line-height: 1.75;

 -ms-word-break: none;
     word-break: none;

     // Non standard for webkit
     word-break: none;

-webkit-hyphens: none;
   -moz-hyphens: none;
        hyphens: aunoneto;
}

