

// Box sizing
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

// Basic text settings:
body {
  line-height: 125%;
}

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix, .cf {
  zoom: 1;
    &:before, &:after { content: ""; display: table; }
    &:after { clear: both; }
}

// Resets for removing margin top on various elements
h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul {
  margin-top: 0;
}

// Image tags
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

// Links (google style)
a {
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }
}

// Blockquotes
blockquote {
  @extend .cf;
  margin-left: 0;
  padding: 1em 1em 0em 1.5em;
  border-left: 3px solid #C00;
  cite {
    display: block;
    color: #666;
    margin-top: 0.5rem;
    font-size: (12/16)+em;
  }
}

// Navigation menus
.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
// Sub menus
.sub-menu {
  padding: 0;
}

// Lists
ul {
  padding-left: 1em;
}
ol {
  padding-left: 1.5em;
}

// Tables
table {
  margin-bottom: 1em;
}
th {
  text-align: left;
}
th, td {
  padding: (8/16)+em (10/16)+em (6/16)+em;
}
td {
  border: 1px solid #999;
}

// Definition lists
dl {
  margin-top: 0.5em;
}
dt {
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: (4/16)+em;

  border-top: 1px solid #999;
  padding-top: 1em;
  &:first-of-type {
    border-top: 0;
    padding-top: 0;
  }
}
dd {
  color: #666;
  margin-left: 1.5em;
}

// Pre
pre {
  font-size: (12/16)+em;
  word-wrap: normal;
  &.hljs, & {
    padding: 5px 10px 6px 10px;
    padding: (5/16)+rem (10/16)+rem (6/16)+rem (10/16)+rem;
  }
  code {
    overflow: auto;
    display: block;
  }
}

// Tables
tr{
  &.odd {
  }
  &.even {
    background-color: #eee;
  }
}

// Featured images
.wp-post-image {
  margin: 0 auto;
}

// Screen reader only text
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.image-replacement,
.ir {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}


// Searchform
.widget .woocommerce-product-search .search-field,
#s {
  width: 100%;
  width: calc( 100% - 4.25em );
  float: left;
  border: 0;
  padding: 0.5em 0.5em 0.45em;
  outline: none;
}
.widget .woocommerce-product-search input[type="submit"],
#searchsubmit {
  position: absolute;
  top: 0; right: 0;
  border-radius: 0;
  border: 1px solid #000;
  margin: -1px;
}
.widget .woocommerce-product-search,
.searchform--inner {
  position: relative;
  border: 1px solid #ccc;
}
// Clearfix the woocommerce search form
.woocommerce-product-search {
  @extend .cf;
}


/**
 * Page elements
 */

// Site header
.header {
  background-color: #eee;
  // padding: 1em 0;
  p { margin: 0; }
}

.site-title {
  a {
    display: block;
    padding: 16px;
    padding: 1rem;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;
  }
}
//
#main {

}



/**
 * Articles / Items
 */

.article {
  border-bottom: 1px solid #999;
  &:nth-of-type(2n) {
    background-color: #eee;
  }

}


.unloading {
  cursor: wait !important;
  a {
    cursor: wait !important;
  }
}
.veil {
  position: fixed;
  top: 0; bottom: 0;
  right: 0; left: 0;
  background-color: rgba(255,255,255,0.5);
}

// Header
.article--header {
  margin-top: 1em;
  margin-bottom: 1em;
}
// Title [part of article--header]
.article--title {
  margin-bottom: 0;
}
// Fix super-long titles and words
.article--title,
.article--content {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
// Featured Image [part of article--header]
.wp-post-image {
  width: 100%;
  margin-bottom: 1em;
}

// Give images a bit of a margin
.article--content {
  img { margin: 0.5em; }
  margin-bottom: 1em;
}
.wp-caption--inner,
.article--content {
  > img { margin: 0.5em 0; }
}

/**
 * Articles / Items - content
 * Elements appearing inside articles
 */

// Gallery images
.gallery-item {
  margin: 0;
  width: 50%;
  float: left;

  img {
    width: 100%;
    margin: 0;
  }

  // Spacing (gutter)
  &:nth-child( 2n +1 ) { padding-right: 0.25em; }
  &:nth-child( 2n ) { padding-left: 0.25em; }
  padding-bottom: 0.5em;
}

.gallery {
  @extend .cf;
  margin-bottom: 0.5em;
}

/**
 * Widgets
 */
.widget {
  float: left;
  width: 50%;
  padding: 1em;
}
.widget_search,
.widget_calendar {
  width: 100%;
}
#wp-calendar {
  margin-right: auto;
  margin-left: auto;
}


/**
 * Buttons
 */
 .btn, .button, button, input[type="submit"] {
  background-color: #369;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  border-radius: 3px;
  outline: 0;
  border: 0;
  padding: 0.5em 0.5em 0.45em;
  text-decoration: none ;
  &:hover, &:focus {
    background-color: lighten(#369, 10%);
    text-decoration: underline;
  }
 }
