

// Box sizing
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

// Basic text settings:
body {
  line-height: 150%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

#main {
  padding: 0 0.75em;
}

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix, .cf {
  zoom: 1;
    &:before, &:after { content: ""; display: table; }
    &:after { clear: both; }
}

// Resets for removing margin top on various elements
h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul {
  margin-top: 0;
}

/* If you want to change the text size you should do it in _variables.scss */
p, .article-time, li, td, address {
  font-size: $paragraph-size;
}

// Image tags
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* Links (google style)
 * If you want to change the link-color you should do it in _variables.scss
 */
a {
  text-decoration: none;
  color: $link-color;
  &:hover, &:focus {
    text-decoration: underline;
    color: $link-hover;
  }
}

// Blockquotes
blockquote {
  @extend .cf;
  margin-left: 0;
  padding: 1em 1em 0em 1.5em;
  border-left: 3px solid #999999;
  cite {
    display: block;
    color: #666;
    margin-top: 0.5rem;
    font-size: (12/16)+em;
  }
}

// Navigation menus
.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
// Sub menus
.sub-menu {
  padding: 0;
}

// Lists
ul {
  padding-left: 1em;
}
ol {
  padding-left: 1.5em;
}

// Tables
table {
  margin-bottom: 1em;
}
th {
  text-align: left;
}
th, td {
  padding: (8/16)+em (10/16)+em (6/16)+em;
}
td {
  border: 1px solid #999;
}

// Definition lists
dl {
  margin-top: 0.5em;
}
dt {
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: (4/16)+em;

  border-top: 1px solid #999;
  padding-top: 1em;
  &:first-of-type {
    border-top: 0;
    padding-top: 0;
  }
}
dd {
  color: #666;
  margin-left: 1.5em;
}

// Pre
pre {
  font-size: (12/16)+em;
  word-wrap: normal;
  &.hljs, & {
    padding: 5px 10px 6px 10px;
    padding: (5/16)+rem (10/16)+rem (6/16)+rem (10/16)+rem;
  }
  code {
    overflow: auto;
    display: block;
  }
}

// Tables
tr {
  &.odd {}
  &.even {
    background-color: #eee;
  }
}

// Featured images
.wp-post-image {
  margin: 0 auto;
}

// Screen reader only text
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/**
 * Page elements
 */

/* Site header
 * If you want to change the bg-color you should do so in _variables.scss
 */
.header {
  background-color: $background-color;
  padding-bottom: 0.75em;
  p { margin: 0; }
}

.header--inner {
  padding: 1em 0;
}

/* If you want to change the bg-color you should do so in _variables.scss */
#content {
  background-color: $background-color;
}

.site-title {
  a {
    display: block;
    padding: 16px;
    padding: 1rem;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;
  }
}


/**
 * Articles / Items
 */


.article {
  border-bottom: 1px solid #999;
  &:nth-of-type(2n) {
    background-color: #eee;
  }
}

/**
 * Unloading the document
 */
@-webkit-keyframes unload-clicked {
  0% {right: 100%;}
  100% {right: 0%;}
}
@keyframes unload-clicked {
  0% {right: 100%;}
  100% {right: 0%;}
}
.unloading {
  cursor: wait !important;
  a {
    cursor: wait !important;
  }

  .clicked {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(255,255,255,0.5);
      animation-name: unload-clicked;
      -webkit-animation-name: unload-clicked;
      animation-duration: 0.2s;
      -webkit-animation-duration: 0.2s;
    }
  }
}

// Header
.article--header {
  margin-top: 1em;
  margin-bottom: 1em;
}
// Title [part of article--header]
.article--title {
  margin-bottom: 0.25em;
}
// Fix super-long titles and words
.article--title,
.article--content {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
// Featured Image [part of article--header]
.wp-post-image {
  width: 100%;
  margin-bottom: 1em;
}

// Give images a bit of a margin
.article--content {
  img { margin: 0.5em; }
  margin-bottom: 1em;
}
.wp-caption--inner,
.article--content {
  > img { margin: 0.5em 0; }
}

/**
 * Articles / Items - content
 * Elements appearing inside articles
 */

// Gallery images
.gallery-item {
  margin: 0;
  width: 50%;
  float: left;

  img {
    width: 100%;
    margin: 0;
  }

  // Spacing (gutter)
  &:nth-child( 2n +1 ) { padding-right: 0.25em; }
  &:nth-child( 2n ) { padding-left: 0.25em; }
  padding-bottom: 0.5em;
}

.gallery {
  @extend .cf;
  margin-bottom: 0.5em;
}

/**
 * Widgets
 */
.widget {
  float: left;
  width: 100%;
  padding: 1em;
}
#wp-calendar {
  margin-right: auto;
  margin-left: auto;
}

.input-text {
  border-radius: 0.25em;
  border: 1px solid rgba(0,0,0,.1);
  padding: 0.5em;
}

/**
 * Buttons
 */
 .btn, .button, button, input[type="submit"] {
  background-color: $button-color;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  border-radius: 3px;
  outline: 0;
  border: 0;
  padding: 0.5em 0.5em 0.45em;
  text-decoration: none ;
  &:hover, &:focus {
    background-color: $button-hover;
  }
}

/* If you want to change the footer color you should do it in _variables.scss */
footer {
  background-color: $footer-color;
  padding: 3.25em 0;
  margin-top: 2em;
}
