
/**
 * Mobile padding
 */
%padd {
  margin-left: 16px;
  margin-right: 16px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.article-time,
.article--title {
  //@extend %padd;
}

.article--content {
  p, ul, ol, blockquote, pre, table, dl,
  .gallery {
    //@extend %padd;
  }
  blockquote p,
  ol ul,
  ul ol,
  ul ul {
    margin-left: 0;
    margin-right: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    //@extend %padd;
  }
}

/* The mobile menu */
.menu-bar {
  text-align: center;
}

#main  {
  width: 100%;
}

/* Removing padding on posts */
/* @TODO: Check if there are more pages than blog and archive that needs to be targeted */
.blog,
.archive {
  #main {
    padding: 0;
  }
}
