
#content {
  padding-top: 2em;
}

/* Widgets */
.widget-area {
width: 100%;
float: left;
}
.widget {
  width: 100%;
}
.widget_calendar {
  width: 50%;
}

footer .widget {
  float: left;
  width: 33.3%;
}
