
#content {
  padding-top: 2em;
}

/* Widgets */
.widget-area {
width: 100%;
float: left;
}
.widget {
  width: 100%;
}
.widget_calendar {
  width: 50%;
}

footer {
  padding: 4em 0;
  margin-top: 5.5em;
  /* In desktop each widget uses a third of the footer width */
  .widget {
    float: left;
    width: 33.3%;
  }
}


/*
Hide anything mobile only
*/
.mo { display: none !important; }
