.woocommerce-pagination{
  text-align: center;
  
  ul{
    li{
      display: inline-block;
      span, a{
        display: block;
        height: 35px;
        line-height: 2.2;
        text-align: center;
        text-decoration: none;
        width: 35px;
      }
      
      a{
        background-color: $brand-highlight;
        color: $white;
      }
    }
  }
}