/******************************************************************
/* Colours

Variables written throughout the site. Everything on this page
should decide every colour on the site.
******************************************************************/


/* Alerts */
$alert-green:       #5fb207;
$alert-red:         #fb1a2c;
$alert-grey:        #9aacb5;
$alert-blue:        #1D59A1;


$grey:              #f3f3f3;
$grey-light:        #F5F5F5;
$grey-dark:         #2A2A2A;
$grey-darker:       #AAAAAA;

/* General colours */
$text:              #000;     // Deep grey
$text-light:        #444444;  // Lighter grey

/* Brand colours */

$red:               #FC5844;  // Main Brand colour
$red-dark:          #D44432;  // Hover state

$blue:              #1D59A1;  // Faceobook colour
$blue-dark:         #113661;  // Hover state

/* Using these doesn't tie us down to naming conventions */
$brand-colour:      $red;
$brand-colour-dark: $red-dark;

$brand-alt:         $blue;
$brand-alt-dark:    $blue-dark;

/******************************************************************
/* Animation

Pre-defined cubic-beziers adds life to animations. Subtle eases that
enhance the qwuality of an animation.
******************************************************************/

$curve:               cubic-bezier(0.84, 0.1, 0.83, 0.67);
