

// Wrapper
.w {
  max-width: 63.25em;
  margin: 0 auto;
}

$gutter: 1;

@media only #{$landscape} {

}
@media only #{$tablet} {
  /**
   * Column script
   */
  %col {
    float: left;
    &:last-of-type {
      margin-right: 0;
    }
  }
  @for $i from 1 through 12 {
    .t-#{$i} {
      $percentage: $i * 100% / 12;
      width: $percentage - 2%;
      $percentage: $percentage - 0.01%;
      $num: 12 / $i - 1;
      $margin-right: ($num * $gutter / ($num +1))+rem;
      width: calc(#{$percentage} - #{$margin-right});
      margin-right: 2%;
      margin-right: calc(#{$gutter+rem});
      @extend %col;
    }
  }
  .t-l {
    margin-right: 0;
  }
}
@media only #{$tablet-landscape} {

}

@media only #{$desktop}  {

}
