/**
 * Widgets are used in footers and sidebars
 * to allow content to be editable
 */

.widget{
  flex: 1 0 23.75rem; // 1140px / 3 items = 380px / 16px = 23.75rem

  @include wider-than(tablet){
    padding: 1rem;
  }

  @at-root #{&}-area--inner{
    display: flex;
    flex-wrap: wrap;
  }
}