// Align attachments - left
.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
// Align attachments - right
.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
  text-align: right;
}
// Align attachments - center
.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
  text-align: center;
}

/**
 * Image captions
 * Here I'm using an inner block to let the text (<p>) align itself with the image.
 * It's useful when the image has a caption and is aligned center or right.
 */
.wp-caption--inner {
  display: inline-block;
  text-align: left;
}