/************************************
		B U T T O N   C O L O U R S
	This mixin gives you a button in any
	colour that you want. It then decides
	if the background is dark or light and
	gives you white or dark grey text colour.
*************************************/

%btn{
  // Basic button styles
	border: 0;
	text-indent:0;
	display: inline-block;
	cursor: pointer;
	outline: none;
  font-weight: 600;
  // Font style within button
	font-style: normal;
	text-decoration: none;
	text-align: center;

  // Button appearance
	border-radius: 4px;
	font-smoothing: antialiased;
	appearance: none;
  text-shadow: 0;

	// Sizing
	padding: 0.844rem 1.5rem;		// THIS
	line-height: 1.125rem; 			// IS
	font-size: 0.875rem; 				// 45PX!

	@media only screen and #{$tablet}{
		padding: 0.8125rem 2rem;	// THIS
		font-size: 1rem; 		// 50PX!
	}
}

@mixin btn(
	$colour:	$brand-colour,
	$hover: 	desaturate(darken($colour, 6%), 5%),
	$active: 	desaturate(darken($colour, 3%), 5%)
	){
	@extend %btn;

  // Colouring
	color: white;
	background-color: $colour;
	transition: background-color 0.1s $curve;

  &:hover{
  	background-color: $hover;
  	color: white;
  	text-decoration: none;
  }

  &:focus,
  &:active  {
  	background-color: $active;
  	color: white;
    box-shadow: none;
  }
}