/*********************
CLEARFIXIN'
*********************/

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix, .cf {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

// A Meatier Clearfix: You won't need to put clearfix class everywhere.
// However, i've foudn taht this way of doing things gets messy. It's
// easier to know what you're adding to your HTML rather than
// clearfixing everything in the scss

@mixin clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}
