// When you have rows that need to be flush,
// you're always stuck using things that are
// a pain. Nedda mind that shit. use this.
// @include flushcolumns(3, 1rem)
// https://css-tricks.com/video-screencasts/132-quick-useful-case-sass-math-mixins/

@mixin flushcolumns($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}