/************************
 I N L I N E - B L O C K
~ Gap Removal Technique ~

@usage: @include ib();
************************/

@mixin ib( ){
	// Remove that gap
    letter-spacing: -0.31em; /* webkit */
    letter-spacing: -0.31rem; /* webkit */
    *letter-spacing: normal; /* reset IE < 8 */
    word-spacing: -0.43em; /* IE < 8 && gecko */
    word-spacing: -0.43rem; /* IE < 8 && gecko */

	// Every block level element
	> address,
	> article,
	> aside,
	> audio,
	> blockquote,
	> canvas,
	> dd,
	> div,
	> dl,
	> fieldset,
	> figcaption,
	> figure,
	> footer,
	> form,
	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6,
	> header,
	> hgroup,
	> hr,
	> li,
	> main,
	> nav,
	> noscript,
	> ol,
	> output,
	> p,
	> pre,
	> section,
	> table,
	> tfoot,
	> ul,
	> video
	{
	// Apply normals to all direct child elements
	    display: inline-block;
	    zoom: 1; 
	    *display: inline; /* IE < 8: fake inline-block */
	    letter-spacing: normal;
	    word-spacing: normal;
	    vertical-align: top;
	}
}