
/* 	This mixin will help you nest mediaqueries easier.
	@Usage:
		@include wider-than(mobile) 	{ width: 55%; 	}
		@include wider-than(phablet) 	{ width: 65%; 	}
		@include wider-than(tablet) 	{ width: 75%;	}

	Uses the breakpoint map defined inside _breakpoints.scss
*/

// min-width mediaquery
@mixin wider-than($screen-size) {
	@if ($ie == false){
	    @if map-has-key($breakpoints, $screen-size) {
	        @media (min-width: map-get($breakpoints, $screen-size)) {
	            @content;
	        }
	    } @else {
	        // Debugging
	        @warn "'#{$screen-size}' has not been declared as a breakpoint."
	    }
    } @else {
	    @content;
	}
}

// max-width mediaquery
@mixin not-wider-than($screen-size) {
	@if ($ie == false){
	    @if map-has-key($breakpoints, $screen-size) {
	        @media (max-width: map-get($breakpoints, $screen-size)) {
	            @content;
	        }
	    } @else {
	        // Debugging
	        @warn "'#{$screen-size}' has not been declared as a breakpoint."
	    } 
	} @else {
		// We're not going to use things less than tablet or desktop for IE
		@if ($screen-size == mobile or $screen-size == phablet or $screen-size == tablet or $screen-size == desktop){
			/* No mobile styles for you mate. */
		} @else {
		    @content;
	    }
	}
}

