// Modular Scale and all that jazz. SHOULD WORK! But might not... depends on the size really, doesn't it.
// @Useage:	@include modular(rem(44));

// Scaling Variables
$golden:           1.618;
$minor-second:     1.067;
$major-second:     1.125;
$minor-third:      1.2;
$major-third:      1.25;
$perfect-fourth:   1.333;
$augmented-fourth: 1.414;
$perfect-fifth:    1.5;
$minor-sixth:      1.6;
$major-sixth:      1.667;
$minor-seventh:    1.778;
$major-seventh:    1.875;
$octave:           2;
$major-tenth:      2.5;
$major-eleventh:   2.667;
$major-twelfth:    3;
$double-octave:    4;

/* This is quite an experiment with font sizes. 
 Basically, i'm using a modualr scale for the type. */

@mixin modular($largest, $rem: false){
	$ratio: $minor-second;
	
								 font-size: u(modular-scale(-4, $largest, $ratio));
	@media(min-width: $phablet){ font-size: u(modular-scale(-4, $largest, $ratio)); }
	@media(min-width: $tablet){  font-size: u(modular-scale(-3, $largest, $ratio)); }
	@media(min-width: $desklet){ font-size: u(modular-scale(-2, $largest, $ratio)); }
	@media(min-width: $desktop){ font-size: u(modular-scale(-1, $largest, $ratio)); }
	@media(min-width: $cinema){  font-size: u(($largest)); }
}
