/**
 * Unloading the document
 */


@keyframes unload-clicked {
  0% { right: 100%; }
  100% { right: 0%; }
}
.unloading {
  cursor: wait !important;

  a {
    cursor: wait !important;
  }

  .clicked {
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: fade-out( white, 0.5 );
      animation-name: unload-clicked;
      animation-duration: 0.2s;
    }
  }
}