// *********************
// Vertical Align any DIV
// Supported from as low as IE9, IE8 can do one.
// *********************
// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/

// *********************

@mixin vertical-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

// Make things easily relative for verticalling
.relative{ position: relative; }

// Make vertical thigns easier
.vertical { 
	@include vertical-align;

	// Make things centered when vertical
	&.horizontal{
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
}
