/* Main navigation, all menu items */
.menu-item a {
  display: block;
  color: #444;
  background: $menu-color;
  transition: 0.4s;
  &:hover, &:focus {
    color: #000;
    background: $menu-current;
  }
  /* Non-clickable <a> tags */
  &[href="#"] {
    text-decoration: none;
    cursor: default;
  }
}

/* Main navigation, menu item for current page */
.current-menu-item a {
  background: $menu-current;
}

/* Sub menu items */
.sub-menu {
  position: relative;
  z-index: 2;
  a {
    background: #fff;
  }
}


/*
 * Media query for mobile and tablet
 */
@media only #{$tablet-down} {

  /* Menu items that has children */
  .menu-item-has-children {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 1em;
      right: 1em;
      display: block;
      width: 1.5em;
      height: 1.5em;
      background: url(/wp-content/themes/pneumatic-theme/images/plus-icon.svg);
      background-size: 100%;
    }
  }

  .button-close {
    cursor: pointer;
  }

  .button-close,
  .menu-item a {
    padding: 1em;
    border-bottom: 1px solid #ccc;
  }

  .bar-nav {
    .menu-item a {
      -webkit-font-smoothing: antialiased;
      color: #eee;
      background: #666;
      &:hover, &:focus {
        color: #FFF;
        background: #000;
      }
    }
  }

  .nav-menu {
    margin-bottom: 0;
  }
  .hide {
    display: none;
  }

  .sub-menu .menu-item {
    a {
      padding-left: 2em;
    }
    .sub-menu .menu-item {
      a {
        padding-left: 3em;
      }
      .sub-menu .menu-item {
        a {
          padding-left: 4em;
        }
        .sub-menu .menu-item {
          a {
            padding-left: 5em;
          }
        } /* - Level 4 */
      } /* - Level 3 */
    } /* - Level 2 */
  } /* - Level 1 */

  .menu-bar .button-menu {
    cursor: pointer;
    color: #666;
    background: #eee;

    display: block;
    padding: 0.75em 1em 0.75em;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;

    &:hover, &:focus {
      color: #000;
      background: #DDD;
    }
  }
}

/*
 * Media query for desktop and larger devices
 */
@media only #{$laptop} {
  .button-close,
  .menu-bar {
    display: none;
  }
  /* Sub menu items */
  .sub-menu a {
    border: 1px solid rgba(0,0,0,.1);
    border-bottom: 0;
  }
  /* Setting a bottom border for the submenu at the bottom of the sub menu li's */
  .sub-menu:last-child {
    border-bottom: 1px solid rgba(0,0,0,.1);
  }

  /* Make bar nav inner relative to place the menu over the header */
  .bar-nav--inner {
    position: relative;
  }
  .nav-menu-bar {
    /* Position the <ul> over the header */
    position: absolute;
    right: 1em;
    .menu-item {
      float: left;
      .sub-menu {
        right: 0;
      }
    }
  }
  .sub-menu {
    position: absolute;
    display: none;
    width: 12em;
    .menu-item {
      display: block;
      float: none;
    }
    a {
      padding: 0.6em 1em 0.5em;
    }

    .unloading & {
      transition: opacity 1s;
      opacity: 0;
    }
  }
  .menu-item {
    position: relative;
    float: left;
    a {
      display: block;
      padding: 0.6em 1em 0.5em;
    }
    &:focus > .sub-menu,
    &:hover > .sub-menu {
      display: block;
    }
    .sub-menu .sub-menu {
      top: 0;
      left: 6em;
    }
  }
  .top-nav,
  .bar-nav {
    background: $menu-color;
  }

  .nav-menu-primary {
    > .menu-item:first-child > a {}
    > .menu-item > a {}
  }
}
