/**
 * Contact information in the header
 */
$menu-font-family:           $title;
$menu-background-colour:     black;
$menu-text-colour:           white;
$menu-text-colour-hover:     black;
$menu-text-background-hover: white;

/**
 * Navigation
 */

// Menu on / off button
.button-menu{
  position: absolute;
  top: 5%;
  right: 2%;

  &:before{
    content: "\2630";
    font-size: 1.5rem;
    vertical-align: middle;
    line-height: 0.65;
    position: absolute;
    left: -1.75rem;
    top: 4px;
  }

  // This shows a X
  &.open{
    position: fixed;
    z-index: 1001;
    color: $menu-text-colour;

    &:before{
      content: "\00d7";
      line-height: 0.45;
      font-size: 2rem;
      top: 2px;
    }
  }
}

/**
 * Huge full screen menu
 */

.top-nav{
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;

  background-color: $menu-background-colour;
}

/**
 * Show menu items title
 */

.hide { // Reserved for menu items
  display: none;
}


/**
 * Flex
 */
 .nav-menu-primary{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 92rem;

  // Force Flexbox to give room for the
  // logo and the contact information
  @media only screen and (max-height: 25rem) and ( max-width: #{$tablet-down} ) {
    padding: 10% 0;
  }

  // Force Flexbox to give room for the
  // logo and the contact information
  @media only screen and (min-height: 25rem) and ( max-width: #{$tablet-down} ) {
    padding: 28% 0;
    max-height: 30rem;
  }


  // Force tablets to push menu items closer together
  @include wider-than ( tablet ) {
    @include not-wider-than ( desktop ){
      padding: 0 17%;
    }
  }

}

// MUST BE A CHILD!
.nav-menu-primary {


  /*
   * Animation and Timing Variables
   */

  $element:     '.menu-item'; // Pick element you want to animate
  $length:      0.75s; // Length of animation
  $stage:       0.155s; // Delay increments
  $movement:    -25deg; // How noticable the movment will be
  $transition:  cubic-bezier(0.46, 0.01, 0.47, 0.85); // The animation easing

  .menu-active{
    .top-nav{
      animation: 0.5s appear $transition;
    }
  }

  /*
   * For every element in succession, delay incrementally
   */
   @for $i from 1 through 10 {
    $delay: $stage * $i;
    #{$element}:nth-of-type(#{$i}) a{
      animation-delay: $delay;
    }
  }

  /**
   * Animations used in the navigation
   */
   @keyframes rotate {
    from{ transform: translateZ(-1rem) rotate3d(1, -1, 0, $movement); }
    to {  transform: translateZ(-1rem) rotate3d(1, 1, 0, 0deg); }
  }

  @keyframes appear {
    from{ opacity: 0; }
    to { opacity: 1; }
  }

  /**
   * Individual menu items
   * Flexbox and 3D animations
   */
  .menu-item{
    text-align: center;
    display: flex;
    align-items: center;
    flex: 1 0 100%;
    margin: 0;

    @media ( max-height: 25rem ) {
      flex: 1 0 50%;
    }

    @include wider-than ( tablet ) {
      flex: 1 0 50%;
    }

    @include wider-than ( desktop ) {
      align-self: center;

      @include count-is-more-than(3){ align-self: flex-end; }

      // After the third column align-top
      @include count-is(4){
        & + .menu-item + .menu-item {
          align-self: flex-start;
        }
      }

      @include count-is-more-than(5){
        flex: 1 0 33%;
        & + .menu-item + .menu-item + .menu-item{
          align-self: flex-start;
        }
      }
    }

    // 3D Animations on activate
    @include wider-than ( tablet ) {
      a{
        transform-style: preserve-3d;
        perspective: 20rem;
        perspective-origin: center;
        transform: translateZ(-1rem) rotate3d(1, 1, 1, 0deg);
        animation: 1s rotate $transition, 1s appear $transition;
        animation-fill-mode: backwards;

        &:before{
          transform: translateZ(1rem);
        }

        &:hover{
          transform: scale(1.01);
        }
      }
    }
  }



  /**
   * Style of the menu elements
   */

   .menu-item{
    a{
      color: $menu-text-colour;
      display: block;
      text-decoration: none;
      line-height: 1.5;
      font-family: $menu-font-family;
      font-weight: 700;
      width: 100%;
      @include modular(4rem, 1.25);
      letter-spacing: 0.04rem; // 40 in Photoshop
      margin: 0;
      padding: 0.25rem;
      transition: all 0.24s ease-in-out;

      @include wider-than ( tablet ) {
        padding: 2rem 1rem;
      }

      @include wider-than ( desktop ) {
        padding: 4rem 1rem;
      }

      @media only screen and ( max-height: 35rem ){
        padding: 0.25rem;
      }

      @include wider-than ( tablet ) {
        // Title attr of the menu item
        &:before{
          content: attr(title);
          display: block;
          @include modular(1.25rem, 1.15);
          font-family: $font;
          font-weight: bold;
          color: $grey;
          opacity: 0.6;
        }
      }

      &:hover{
        color: $menu-text-colour-hover;
        background-color: $menu-text-background-hover;
      }
    }
  }

}